<div class="row justify-content-md-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light col-11">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="page1">Hệ thống 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page2">Hệ thống 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page3">Hệ thống 3</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="page4">Hệ thống 4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page5">Hệ thống 5</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page6">Hệ thống 6</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="page7">Hệ thống 7</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page8">Hệ thống 8</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page9">Hệ thống 9</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="page10">Hệ thống 10</a>
                </li>
            </ul>
        </div>
    </nav>
</div>