<div class="">
    <div class="col-10"></div>
    <table class="table table-dark table-striped table-hover table-bordered" id="myTable">
        <tr>
            <th>STT</th>
            <th>Máy</th>
            <th class="col-1">Username</th>
            <th class="col-1">Password</th>
            <th class="col-4">Keyword - Video title - %watch</th>
            <th class="col-2">Comment</th>
            <th class="col-2">Tuỳ chọn</th>
            <th class="col-1">Thời gian</th>
            <th class="col-1">Trạng thái</th>
            <th class="col-1"></th>
        </tr>
    </table>
</div>
</div>