<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body style="background-color: black; color: white">
        <div class="container mb-5 mt-5">
            <div class="text-center">
                <h1>CONFIGURATION PAGE</h1>
                <h2 class="systemName" id="systemName"></h2>
            </div>
        </div>

        <%- include('./partials/nav.ejs') %>
        <%- include('./partials/inputField.ejs') %>
        <%- include('./partials/table.ejs') %>


    </body>
    
    <script id="identifySystem" type="text/javascript" src = "identifySystem.js" system="NET01"></script>

    <script id="communicate" type="text/javascript" src = "communicate.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script>
        var socket = io();
        //get the list
        socket.on('computer', function (computers) {
            let k=1;
            for (let i = 0; i < computers.length; i++) {
                //console.log(computers[i][0].substring(0, 5));
                if (computers[i][0].substring(0, 5) == document.getElementsByClassName("systemName")[0].innerHTML) {
                    var table = document.getElementById("myTable");
                    var row = table.insertRow(-1);
                    var index = row.insertCell(0);
                    var computerIP = row.insertCell(1);
                    var username = row.insertCell(2);
                    var password = row.insertCell(3);
                    var videoList = row.insertCell(4);
                    var comment = row.insertCell(5);
                    var option = row.insertCell(6);
                    var time = row.insertCell(7);
                    var status = row.insertCell(8);
                    var button = row.insertCell(9);
                    computerIP.innerHTML = computers[i][0];
                    let list = "";
                    for (let j = 0; j < computers[i][3].length; j++) {
                        //console.log("ok " + computers[i][3][j]);
                        list = list  + computers[i][3][j].search + " " + computers[i][3][j].title + " " + computers[i][3][j].watch + "<br>";
                    }
                    let commentlist = "";
                    for (let j = 0; j < computers[i][4].length; j++) {
                        commentlist = commentlist  + computers[i][4][j] + "<br>";
                    }
                    index.innerHTML = k;
                    k++;
                    //[ip, username, password, videolist, comment, option, status]
                    username.innerHTML = "<p id=\"curusername" + computers[i][0] + "\" class=\"col-sm-12\">" + computers[i][1] + "</p><input class=\"col-sm-12\" id=\"username" + computers[i][0] + "\" type=\"text\" autocomplete=\"off\">";
                    password.innerHTML = "<p id=\"curpassword" + computers[i][0] + "\" class=\"col-sm-12\">" + computers[i][2] + "</p><input class=\"col-sm-12\" id=\"password" + computers[i][0] + "\" type=\"text\" autocomplete=\"off\">";
                    videoList.innerHTML = "<p id=\"curlist" + computers[i][0] + "\" class=\"ovrfl col-sm-12\">" + list + "</p>" + "<textarea class=\"col-sm-12\" id=\"list" + computers[i][0] + "\" type=\"text\" autocomplete=\"off\"></textarea>";
                    comment.innerHTML = "<p id=\"curcomment" + computers[i][0] + "\" class=\"ovrfl col-sm-12\">" + commentlist + "</p><textarea class=\"col-sm-12\" id=\"comment" + computers[i][0] + "\" type=\"text\" autocomplete=\"off\"></textarea>";
                    option.innerHTML = "<p id=\"curoption" + computers[i][0] + "\" class=\"col-sm-12\">" + computers[i][6] + "</p><textarea class=\"col-sm-12\" id=\"option" + computers[i][0] + "\" type=\"text\" autocomplete=\"off\"></textarea>";
                    time.innerHTML = "<p id=\"curtime" + computers[i][0] + "\" class=\"col-sm-12\">" + computers[i][5] + "</p><input class=\"col-sm-12\" id=\"time" + computers[i][0] + "\" type=\"text\" autocomplete=\"off\">"
                    status.innerHTML = "<p id=\"status" + computers[i][0] + "\" class=\"ovrfl col-sm-12\">" + computers[i][7] + "</p>";
                    button.innerHTML = "<button class=\"btn btn-primary col-12\" id=\"" + computers[i][0] + "\"onclick=\"update(this.id)\">Cập nhật</button><button class=\"btn btn-success col-12\" id=\"" + computers[i][0] + "\"onclick=\"run(this.id)\">Chạy!</button><button id=\"" + computers[i][0] + "\" onclick=\"stop(this.id)\" class=\"btn btn-danger col-12\">Dừng</button>"
                }
            }
        });
    </script>

</html>